<section class="tela-sucesso">

    <article class="tela-sucesso__container">
        <div class="tela-sucesso__container-icon">
            <i class="las la-check-circle icon-sucess"></i>
        </div>
        <div class="tela-sucesso__container-texto">
            <p class="tela-sucesso__container-texto-conteudo ff-popins">Solicitação feita com sucesso! Em breve entraremos em contato via WhatsSap</p>
        </div>
        <div class="tela-sucesso__container-btn">
            <button routerLink="/pets-disponiveis" type="button">Ver mais Pets</button>
        </div>
    </article>
    

</section>
