@import '../../../../styles.scss';

.pet-tabela{
    display: flex;
    justify-content: center;
}

.pet-tabela__container{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 70%;
}

.pet-tabela__titulo-conteudo{
    @include font-style(24px, 24px, normal, 600);
    color: var(--azul-primary);
    text-align: center;
}
.pet-tabela__table{
    margin-top: 3rem;
}

.pet-tabela__cadastro{
    display: flex;
    margin-top: 3rem;
    justify-content: end;
    .pet-tabela__cadastro-btn{
        @include font-style(18px, 20px, normal, 600);
        padding: 0.75rem 1rem;
        color: white;
        background-color: var(--rosa-primary);
        border: none;
        width: 200px;
        border-radius: 5px;
        cursor: pointer;
    }
}


