<section class="login">
    <mensagem-component [texto]="'Já tem conta? Faça seu login:'"></mensagem-component>
    <article class="form-login">
        <div class="form-login__container">
            <form #f="ngForm" (ngSubmit)="LogarUsuario(f)" action="">
                <div class="login__formulario-campo">
                    <label for="nome" class="login__formulario-label ff-popins">
                      Email
                    </label>
                    <div class="login__formulario-input">
                        <input type="email" name="email" id="email" ngModel placeholder="Digite seu nome completo" required>
                    </div>
                    <div *ngIf="(f.controls['email']?.invalid && f.controls['email']?.touched) || f.controls['email']?.dirty || (f.controls['email']?.invalid && f.submitted)">
                        <span class="mensagem-erro ff-popins" *ngIf="f.controls['email']?.errors?.['required']">O campo email é obrigatório</span>
                    </div>
                  </div>
                <div class="login__formulario-campo-senha">
                    <label for="senha" class="login__formulario-label ff-popins">
                      Senha
                    </label>
                    <div class="login__formulario-input-senha">
                        <input [type]="eParaMostrarSenha ? 'text' : 'password'" name="Senha" id="senha" ngModel required placeholder="Crie uma senha">
                        <span *ngIf="!eParaMostrarSenha" (click)="MostrarSenha()" class="login__ver-senha"><i class="las la-eye-slash"></i></span>
                        <span *ngIf="eParaMostrarSenha" (click)="MostrarSenha()" class="login__ver-senha"><i class="las la-eye"></i></span>
                    </div>
                    <div *ngIf="(f.controls['Senha']?.invalid && f.controls['Senha']?.touched) || f.controls['Senha']?.dirty || (f.controls['Senha']?.invalid && f.submitted)">
                        <span class="mensagem-erro ff-popins" *ngIf="f.controls['Senha']?.errors?.['required']">O campo senha é obrigatório</span>
                    </div>
                </div>
                <div class="login__formulario-botao">
                    <button class="ff-popins" type="submit">Entrar</button>
                </div>
            </form>
        </div>
    </article>
    
</section>
