<section class="boas-vindas">
  <article class="boas-vindas__container">
    <div>
      <img class="boas-vindas__img" src="../../../assets/Logos-02.png" alt="" srcset="">
    </div>
    <div class="boas-vindas__titulo">
      <h3 class="boas-vindas__titulo-conteudo ff-popins">
        Boas-vindas!
      </h3>
    </div>
    <div class="boas-vindas__descricao">
      <p class="boas-vindas__descricao-conteudo ff-popins">
        Adotar pode mudar uma vida. Que tal buscar seu novo melhor amigo hoje? Vem com a gente!
      </p>
    </div>
    <div class="boas-vindas__btn">
      <button type="button" class="boas-vindas__btn-content ff-popins">
        Já tenho conta
      </button>
    </div>
    <div class="boas-vindas__btn">
      <button routerLink="/cadastro" type="button" class="boas-vindas__btn-content ff-popins">
        Quero me cadastrar
      </button>
    </div>
    <img class="boas-vindas__ilustracao" src="../../../assets/Ilustração.png" alt="" srcset="">

  </article>
</section>
