<section class="cadastro-abrigo">
    <mensagem-component [texto]="'Quer fazer parte disso? Só vem com a gente!'"></mensagem-component>
    <article class="cadastro-abrigo__form">
        <div class="cadastro-abrigo__formulario-container">
            <form #f="ngForm" action (ngSubmit)="CadastrarAbrigo(f)">
                <div class="cadastro-abrigo__formulario-campo">
                    <label for="nome"
                        class="cadastro-abrigo__formulario-label ff-popins">
                        Nome
                    </label>
                    <div class="cadastro-abrigo__formulario-input">
                        <input type="text" name="nome" id="nome" ngModel
                            placeholder="Digite o nome completo do abrigo"
                            required minlength="3">
                    </div>
                    <div
                        *ngIf="(f.controls['nome']?.invalid && f.controls['nome']?.touched) || f.controls['nome']?.dirty || (f.controls['nome']?.invalid && f.submitted)">
                        <span class="mensagem-erro ff-popins"
                            *ngIf="f.controls['nome']?.errors?.['required']">O
                            campo nome é obrigatório</span>
                        <span class="mensagem-erro ff-popins"
                            *ngIf="f.controls['nome']?.errors?.['minlength']">O
                            nome deve ter no mínimo três caracteres</span>
                    </div>
                </div>
                <div class="cadastro-abrigo__formulario-campo">
                    <label for="email"
                        class="cadastro-abrigo__formulario-label ff-popins">
                        E-mail
                    </label>
                    <div class="cadastro-abrigo__formulario-input">
                        <input type="email" name="email" id="email" ngModel
                            placeholder="Digite um email do abrigo" required
                            minlength="3">
                    </div>
                    <div
                        *ngIf="(f.controls['email']?.invalid && f.controls['email']?.touched) || f.controls['email']?.dirty || (f.controls['email']?.invalid && f.submitted)">
                        <span class="mensagem-erro ff-popins"
                            *ngIf="f.controls['email']?.errors?.['required']">O
                            campo E-mail é obrigatório</span>
                    </div>
                </div>
                <div class="cadastro-abrigo__formulario-campo">
                    <label for="cep"
                        class="cadastro-abrigo__formulario-label ff-popins">
                        CEP
                    </label>
                    <div class="cadastro-abrigo__formulario-input">
                        <input (blur)="BuscarCEP(f)" type="text" name="cep"
                            id="cep" ngModel placeholder="XXXXX-XXX"
                            pattern="\d{5}-?\d{3}" required maxlength="9">
                    </div>
                    <div
                        *ngIf="(f.controls['cep']?.invalid && f.controls['cep']?.touched) || (f.controls['cep']?.invalid && f.submitted)">
                        <span class="mensagem-erro ff-popins"
                            *ngIf="f.controls['cep']?.errors?.['required']">O
                            campo CEP é obrigatório</span>
                        <span class="mensagem-erro ff-popins"
                            *ngIf="f.controls['cep']?.errors?.['pattern']">O CEP
                            deve seguir o padrão XXXXX-XXX</span>
                    </div>
                </div>
                <div class="cadastro-abrigo__formulario-campo">
                    <label for="logradouro"
                        class="cadastro-abrigo__formulario-label ff-popins">
                        Logradouro
                    </label>
                    <div class="cadastro-abrigo__formulario-input">
                        <input disabled type="text" name="logradouro"
                            id="logradouro" ngModel required>
                    </div>
                </div>
                <div class="cadastro-abrigo__formulario-campo">
                    <label for="bairro"
                        class="cadastro-abrigo__formulario-label ff-popins">
                        Bairro
                    </label>
                    <div class="cadastro-abrigo__formulario-input">
                        <input disabled type="text" name="bairro" id="bairro"
                            ngModel required>
                    </div>
                </div>
                <div class="cadastro-abrigo__formulario-campo">
                    <label for="cidade"
                        class="cadastro-abrigo__formulario-label ff-popins">
                        Cidade
                    </label>
                    <div class="cadastro-abrigo__formulario-input">
                        <input disabled type="text" name="cidade" id="cidade"
                            ngModel required>
                    </div>
                </div>
                <div class="cadastro-abrigo__formulario-campo">
                    <label for="estado"
                        class="cadastro-abrigo__formulario-label ff-popins">
                        Estado
                    </label>
                    <div class="cadastro-abrigo__formulario-input">
                        <input disabled type="text" name="estado" id="estado"
                            ngModel required>
                    </div>
                </div>
                <div class="cadastro-abrigo__formulario-campo-senha">
                    <label for="senha"
                        class="cadastro-abrigo__formulario-label ff-popins">
                        Senha
                    </label>
                    <div class="cadastro-abrigo__formulario-input-senha">
                        <input [type]="eParaMostrarSenha ? 'text' : 'password'"
                            name="Senha" id="senha" ngModel required
                            placeholder="Crie uma senha">
                        <span *ngIf="!eParaMostrarSenha"
                            (click)="MostrarSenha()"
                            class="cadastro-tutor__ver-senha"><i
                                class="las la-eye-slash"></i></span>
                        <span *ngIf="eParaMostrarSenha" (click)="MostrarSenha()"
                            class="cadastro-tutor__ver-senha"><i
                                class="las la-eye"></i></span>
                    </div>
                    <div
                        *ngIf="(f.controls['Senha']?.invalid && f.controls['Senha']?.touched) || f.controls['Senha']?.dirty || (f.controls['Senha']?.invalid && f.submitted)">
                        <span class="mensagem-erro ff-popins"
                            *ngIf="f.controls['Senha']?.errors?.['required']">O
                            campo senha é obrigatório</span>
                    </div>
                </div>
                <div class="cadastro-abrigo__formulario-campo-senha">
                    <label for="confirmaSenha"
                        class="cadastro-abrigo__formulario-label ff-popins">
                        Confirmar Senha
                    </label>
                    <div class="cadastro-abrigo__formulario-input-senha">
                        <input
                            [type]="eParaMostrarSenhaConfimada ? 'text' : 'password'"
                            name="confirmaSenha" id="confirmaSenha" required
                            ngModel placeholder="Repita a senha criada">
                        <span *ngIf="!eParaMostrarSenhaConfimada"
                            (click)="MostrarSenhaConfirmar()"
                            class="cadastro-tutor__ver-senha"><i
                                class="las la-eye-slash"></i></span>
                        <span *ngIf="eParaMostrarSenhaConfimada"
                            (click)="MostrarSenhaConfirmar()"
                            class="cadastro-tutor__ver-senha"><i
                                class="las la-eye"></i></span>
                    </div>
                    <div
                        *ngIf="(f.controls['confirmaSenha']?.invalid && f.controls['confirmaSenha']?.touched) || f.controls['confirmaSenha']?.dirty || (f.controls['confirmaSenha']?.invalid && f.submitted)">
                        <span class="mensagem-erro ff-popins"
                            *ngIf="f.controls['confirmaSenha']?.errors?.['required']">O
                            campo de confirma senha é obrigatório</span>
                    </div>
                </div>
                <div class="cadastro-abrigo__formulario-botao">
                    <button class="cadastro-abrigo__formulario-botao ff-popins"
                        type="submit">Cadastrar!</button>
                </div>
            </form>
        </div>
    </article>
</section>
